<a href="/">Home</a>

@using LonnysLemons.Models;

<h1>Cars for Sale</h1>

<form action="/buy" method="post">
  <label for="maxPrice">Enter your Maximum Price to see cars that match your budget</label>
  <input id="maxPrice" name="maxPrice" type="text">
  <button type="submit">Submit</button>
</form>

@if (Model.Count == 0)
{
  <p>There are no cars at this time</p>
}

<ul>
  @if (Car.MaxPrice >= 0) {
    foreach (Car car in Model.CarsMatchingSearch)
    {
      <li>Make Model: @car.MakeModel Price: @car.Price Miles: @car.Miles</li>
    }
  } else {
    foreach (Car car in Model)
    {
      <li>Make Model: @car.MakeModel Price: @car.Price Miles: @car.Miles</li>
    }
  }
</ul>